@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-4 py-2 inline-block;

    &.primary {
        @apply bg-blue-600 rounded;
    }

    &.danger {
        @apply bg-red-600 rounded;
    }

    &.btn-xs {
        @apply px-2 py-1 text-xs font-normal;
    }

    &:disabled, &.disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    &:focus {
        @apply outline-none;
    }
}

.btn-group {
    .btn {
        @apply rounded-none;

        &:first-child {
            @apply rounded-l;
        }

        &:last-child {
            @apply rounded-r;
        }
    }
}

.badges {
    .badge {
        @apply rounded-full border border-blue-500 text-blue-500 leading-relaxed inline-block text-xs px-2 ml-2;

        &:first-child {
            @apply ml-0;
        }
    }
}

.collapsible {
    @apply overflow-hidden h-auto;

    &.collapsed {
        display: none;
    }
}

.external {
    @apply text-sm ml-2 text-gray-400 leading-none;

    span {
        @apply text-white;
        text-shadow: 0 2px 2px theme('colors.gray.500');
    }
}

.movie-page {
    .image-container {
        max-height: 12rem;
        position: relative;
        /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/

        &:not(.opened) {
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                background: linear-gradient(0deg, rgba(1,1,1,1) 0%, rgba(0,0,0,0.02984943977591037) 35%, rgba(255,255,255,0) 100%);
            }
        }

        @media (min-width: 1024px) {
            max-height: 24rem;
        }

        &.opened {
            max-height: 100%;
        }
    }
}

.movie-list-poster {
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    @apply h-48;
}
