@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply px-4 py-2 inline-block;

    &.primary {
        @apply bg-blue-600 rounded;
    }

    &.danger {
        @apply bg-red-600 rounded;
    }

    &.btn-xs {
        @apply px-2 py-1 text-xs font-normal;
    }

    &:disabled, &.disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    &:focus {
        @apply outline-none;
    }
}

.btn-group {
    .btn {
        @apply rounded-none;

        &:first-child {
            @apply rounded-l;
        }

        &:last-child {
            @apply rounded-r;
        }
    }
}

.badges {
    @apply mt-4;
    .badge {
        @apply rounded-full border border-blue-500 text-blue-500 leading-relaxed inline-block text-xs px-2 ml-2;

        &:first-child {
            @apply ml-0;
        }
    }
}

.collapsible {
    @apply overflow-hidden h-auto;

    &.collapsed {
        display: none;
    }
}

.external span {
    @apply text-white;
    text-shadow: 0 2px 2px theme('colors.gray.500');
}

.movie-page {
    .image-container {
        max-height: 12rem;

        @media (min-width: 1024px) {
            max-height: 24rem;
        }

        &.opened {
            max-height: 100%;
        }
    }
}
